body {
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: white;
}
/* Container styles */
.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Header */
.headName {
    width: 400px;
    text-align: left;
}

.headLinks {
    width: 400px;
    text-align: right;
}

.headLinks a {
    text-decoration: none;
    color: white;
}

.headLinks a:hover {
    color: #2196F3;
}

/*  -- Main body --  */

/* Experience */
.experience {
    margin-top: 8px;
}
.experience h2, .experience h4, .experience p{
   margin: 0;
}

.experience h2 {
    margin-bottom: 3px;
    color: #2196F3;
}

.experience h4, .experience p{
    margin-left: 12px;
}

/* Education  */
.education {
    margin-top: 8px;
}
.education h2, .education h4, .education p{
   margin: 0;
}

.education h2 {
    margin-bottom: 3px;
    color: #2196F3;
}

.education h4, .education p{
    margin-left: 12px;
}

/* Skills */
.skills {
    margin-top: 8px;
}
.skills h2 {
    margin: 0;
    margin-bottom: 3px;
    color: #2196F3;
}

.skills ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-left: 12px
}